<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHAT - REAL TIME</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <div id="titulo">
        <h1>CHAT REAL TIME BY SOCKET I.O</h1>
    </div>
    <div id="chat">
    </div>
    <input type="text" id="txtMessage"/>
    <button type="button button1" id="btnsnd" class="button">Enviar</button>
    <!--Levanta el servicio en el cliente-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/assets/scripts/index.js"></script>
</body>
</html>
